
.main-header {
    background-color: #228B22 !important;
}

.skin-blue .main-header .logo {
    background-color: #228B22 !important;
}

.skin-blue .main-header .navbar {
    background-color: #2DB92D !important;
}

