// ***************************************
// Typography
// ***************************************

// Tabs Navigation
// ---------------
.nav-tabs {
	list-style: none;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 20px;
		&:last-child { margin-right: 0; }
		a {
			color: $gray-darker;
			text-decoration: none;
			position: relative;
			&::before {
				position: absolute;
				bottom: 0px;
				content: "";
				width: 100%;
				height: 1px;
				background-color: $gray-darker;
				opacity: .15;
				transition: .25s;
			}
			&::after {
				position: absolute;
				bottom: 0px;
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0;
				border-color: $gray-darker transparent transparent transparent;
				@include center(x);
				transition: .25s;
			}
			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
		&.active {
			a::before {
				opacity: 1;
			}
			a::after {
				border-width: 5px 4.5px 0 4.5px;
				bottom: -4px;
			}
		}
	}
	&.text-right {
		text-align: right;
		li {
			margin-left: 20px;
			&:first-child { margin-left: 0; }
		}
	}
	&.text-center {
		text-align: right;
		li {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

// Tabs Button Style
// -----------------
.nav-tabs {
	&.block-style {
		display: table;
		width: 100%;
		table-layout: fixed;
		li {
			display: table-cell;
			text-align: center !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
			padding: 0 15px;
			@media #{$tablet-port} {
				display: block;
			}
			&:first-child {
				padding-left: 0;
				@media #{$tablet-port} {
					padding-left: 15px;
				}
			}
			&:first-last {
				padding-right: 0;
			}
			a {
				@extend .btn;
				width: 100%;
				&::after, &::before {
					display: none;
				}
			}
			&.active {
				a {
					@include btn-variant($brand-default, 1);
				}
			}
		}
	}
}

// Tab Panes
// ---------
.tab-content {
	.tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}

// Component Animations
// --------------------
.transition {
  &.fade {
  	opacity: 0;
  	@include transition(all .4s ease-in-out);
    @include backface-visibility(hidden);
    &.in { opacity: 1; }
  }
  &.scale.fade {
  	@include transform(scale(0.9));
  }
  &.scaledown.fade {
  	@include transform(scale(1.1));
  }
  &.scale.fade.in,
  &.scaledown.fade.in {
  	@include transform(scale(1));
  }
  &.left.fade {
  	@include transform(translateX(40px));
  }
  &.right.fade {
  	@include transform(translateX(-40px));
  }
  &.left.fade.in,
  &.right.fade.in {
  	@include transform(translateX(0px));
  }
  &.top.fade {
  	@include transform(translateY(-40px));
  }
  &.bottom.fade {
  	@include transform(translateY(40px));
  }
  &.top.fade.in,
  &.bottom.fade.in {
  	@include transform(translateY(0px));
  }
  &.flip.fade {
  	@include transform(rotateY(-90deg) scale(1.1));
    @include transform-origin(50% 50%);
  }
  &.flip.fade.in {
  	@include transform(rotateY(0deg) scale(1));
    @include transform-origin(50% 50%);
  }
}
